@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "custom";

html {
  position: relative;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans-serif;
}

.font-serif,
p {
  font-family: $font-family-serif;
  font-size: 15px;
}

//Header============================================
.logoVg {
  width: 50px;
  height: 50px;
}

.btn-header {
  background-color: $primary;
  font-size: 15px;
  color: white;
  border-radius: 15px;
  margin-right: 10px;
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

//Main============================================
main {
  // margin-bottom: 220px;
  overflow-x: hidden;
}

//Footer============================================
footer.footer {
  padding: 5px;
  // position: absolute;
  bottom: 0;
  width: 100%;
}

.footer h5 {
  font-family: $font-family-sans-serif;
  font-size: 24px;
}

.footer p {
  margin-bottom: 8px;
  font-size: 15px;
  color: #f1f1f1;
}

.footer a:hover {
  color: #d97706;
}

.footer-bottom a {
  display: inline-block;
  max-width: 160px;
  white-space: normal;
}

//Page d'accueil Hero scene============================================
.hero-scene {
  margin-bottom: 15px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-image: url(../assets/images/img_hero_section.webp);
    background-position: center;
    background-size: cover;
    background-color: rgba($secondary, 0.6);
    background-blend-mode: multiply;
  }

  * {
    //Positionner les éléments devant le &::before
    position: relative;
  }

  .hero-scene-content {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.hero-scene .hero-scene-content h1 {
  font-size: 32px;
}

//Page d'accueil Avis============================================
#avisCarousel .carousel-inner {
  height: 320px; /* FIXE, pas min-height */
}

.titre-avis {
  font-size: 20px;
}

.avis-item {
  padding-bottom: 30px;
  max-width: 600px;
  margin: 0 auto;
}

.avis-item p {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* nombre de lignes visibles */
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
}

.avis-item p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(to top, white, transparent);
}

.avis-img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.carousel {
  overflow: hidden;
}

.carousel-item {
  text-align: center;
  height: 320px;
  overflow: hidden;
}

.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $secondary;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-control-prev {
  left: 15px;
}

.carousel-control-next {
  right: 15px;
}

.carousel-indicators [data-bs-target] {
  background-color: $secondary;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

//Page menu============================================
.hero-liste-menu {
  height: 45vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets//images/menus/img_hero_menu.avif?q=80&w=1600&auto=format&fit=crop");
  background-size: cover;
  background-position: center;
}

.menu-card {
  border: none;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.menu-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.menu-card img {
  height: 240px;
  object-fit: cover;
}

.price-liste-menu {
  font-size: 1.5rem;
  font-weight: bold;
  color: $secondary;
}

.btn-liste-menu {
  background-color: $primary;
  border: none;
}

.btn-liste-menu:hover {
  background-color: $secondary;
}

.badge-custom {
  background-color: #ede0d4;
  color: $secondary;
}

.badge-theme {
  background-color: #ede0d4;
  color: $secondary;
}

.badge-regime {
  background-color: #d8f3dc;
  color: #2d6a4f;
}

.form-select,
.form-control {
  border-radius: 12px;
}

.form-range::-webkit-slider-thumb {
  background: $primary;
}

// Detail menu
.hero-menu-detail {
  height: 60vh;
  background:
    linear-gradient(#00000073, #00000073),
    url("../assets/images/menus/img_menu_1.avif?q=80&w=1600&auto=format&fit=crop");
  background-size: cover;
  background-position: center;
}

.menu-box {
  background: $bg-dark;
  border-radius: 25px;
  padding: 40px;
  margin-top: -80px;
  position: relative;
  z-index: 2;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.section-title {
  color: $secondary;
  font-weight: bold;
  margin-bottom: 20px;
}

.menu-item {
  border-bottom: 1px solid $bg-dark;
  padding: 15px 0;
}

.menu-item:last-child {
  border-bottom: none;
}

.price-menu-detail {
  font-size: 2rem;
  font-weight: bold;
  color: $secondary;
}

.btn-reserver {
  background-color: $primary;
  border: none;
  padding: 12px 30px;
}

.btn-reserver:hover {
  background-color: $secondary;
}

.badge-custom-menu-detail {
  background-color: $bg-dark;
  color: $secondary;
}

.info-card {
  border-radius: 20px;
  background-color: $bg-dark;
  padding: 25px;
  text-align: center;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
}

// Scroll liste-menu ============================================
.scroll-liste-menu {
  opacity: 1;
  z-index: 99999;
  background-color: $primary;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease;
}

.scroll-liste-menu i {
  font-size: 25px;
  color: white;
}

.scroll-liste-menu:hover {
  background-color: color-mix(in srgb, $secondary, transparent 20%);
}

.tooltip-text {
  position: absolute;
  left: 55px;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-10px);
  transition: all 0.3s ease;
}

.scroll-liste-menu:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
