@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "custom";

html {
  position: relative;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans-serif;
}

.font-serif,
p {
  font-family: $font-family-serif;
  font-size: 15px;
}

//Header============================================
.logoVg {
  width: 50px;
  height: 50px;
}

.btn-header {
  background-color: $primary;
  font-size: 15px;
  color: white;
  border-radius: 15px;
  margin-right: 10px;
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

//Main============================================
main {
  // margin-bottom: 220px;
  overflow-x: hidden;
}

//Footer============================================
footer.footer {
  padding: 5px;
  // position: absolute;
  bottom: 0;
  width: 100%;
}

.footer h5 {
  font-family: $font-family-sans-serif;
  font-size: 24px;
}

.footer p {
  margin-bottom: 8px;
  font-size: 15px;
  color: #f1f1f1;
}

.footer a:hover {
  color: #d97706;
}

.footer-bottom a {
  display: inline-block;
  max-width: 160px;
  white-space: normal;
}

//Page d'accueil Hero scene============================================
.hero-scene {
  margin-bottom: 15px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-image: url(../assets/images/img_hero_section.webp);
    background-position: center;
    background-size: cover;
    background-color: rgba($secondary, 0.6);
    background-blend-mode: multiply;
  }

  * {
    //Positionner les éléments devant le &::before
    position: relative;
  }

  .hero-scene-content {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.hero-scene .hero-scene-content h1 {
  font-size: 32px;
}

//Page d'accueil Avis============================================
#avisCarousel .carousel-inner {
  height: 320px; /* FIXE, pas min-height */
}

.titre-avis {
  font-size: 20px;
}

.avis-item {
  padding-bottom: 30px;
  max-width: 600px;
  margin: 0 auto;
}

.avis-item p {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* nombre de lignes visibles */
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
}

.avis-item p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(to top, white, transparent);
}

.avis-img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.carousel {
  overflow: hidden;
}

.carousel-item {
  text-align: center;
  height: 320px;
  overflow: hidden;
}

.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $secondary;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-control-prev {
  left: 15px;
}

.carousel-control-next {
  right: 15px;
}

.carousel-indicators [data-bs-target] {
  background-color: $secondary;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
